<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="ArxConfiguration" type="Arx.Utils.Config.ArxConfiguration, Arx" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ecollect.DataAccess.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="GlobalCollection.eCollect.Server.Services.JobExecutorService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="apiKey" value="b87127af250124be10f6f245a03d0473" />
    <add key="testLinkUrl" value="http://172.16.77.17/lib/api/xmlrpc/v1/xmlrpc.php" />
  </appSettings>

  <ArxConfiguration EndPointAddress="ArxDataAccessService" ManagerCacheTimeOut="05:00:00" />

  <connectionStrings>
    <add name="GlobalCollection.eCollect.DataAccess.Properties.Settings.ConnectionString" connectionString="Data Source=donald\Release;Initial Catalog=eCollect_v1_1;Persist Security Info=True;User ID=sa;Password=i$qs1234" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.serviceModel>
    <services>
      <service name="GlobalCollection.eCollect.Server.Services.JobExecutorService.JobExecutorService" behaviorConfiguration="ServiceBehavior">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://timon:8080/Ecollect.Net.Services.JobExecutorService" />
          </baseAddresses>
        </host>-->

        <!--<endpoint name="JobExecutorService" binding="customBinding" bindingConfiguration="CustomBinding_binaryConfig" contract="GlobalCollection.eCollect.Server.Services.ServiceContracts.IJobExecutor">
          <identity>
            <dns value="timon" />
          </identity>
        </endpoint>-->

        
      </service>
    </services>

    <client>
      <!--http://services.ecollect.global.local:8081/Arx.Data.ArxDataAccessService -->
      <!--http://timon:8080/Arx.Data.ArxDataAccessService -->
      <endpoint address="http://timon:8080/Arx.Data.ArxDataAccessService " behaviorConfiguration="clientBehavior" binding="customBinding" bindingConfiguration="CustomBinding_binaryConfig" contract="Arx.Contracts.ServiceContracts.IArxDataAccessService" name="ArxDataAccessService" kind="" endpointConfiguration="" />
      <endpoint address="http://timon:8082/Arx.Insight.DataAccessService" name="ArxInsightDataAccessService" binding="customBinding" contract="Arx.Insight.Entities.Contracts.IArxInsightDataService" />
      <endpoint address="net.tcp://timon:2025" binding="netTcpBinding" contract="Arx.ApplicationBase.Contracts.IAuthenticationRequestService" name="AuthenticationRequestService" />
      <endpoint name="GlobalCollection.eCollect.Server.Services.Logger.Logger" address="http://timon:8080/Ecollect.Net.Services.Logger" binding="customBinding" contract="GlobalCollection.eCollect.Server.Services.ServiceContracts.ILogger" bindingConfiguration="CustomBinding_binaryConfig" behaviorConfiguration="clientBehavior">
        <identity>
          <dns value="nemo" />
        </identity>
      </endpoint>
      <endpoint name="GlobalCollection.eCollect.Server.Services.NotificationService.EmailNotificationService" address="http://timon:8080/Ecollect.Net.Services.Notification" binding="customBinding" contract="GlobalCollection.eCollect.Server.Services.ServiceContracts.IECollectNotificationProviderService" bindingConfiguration="CustomBinding_binaryConfig" behaviorConfiguration="clientBehavior">
        <identity>
          <dns value="nemo" />
        </identity>
      </endpoint>

      <endpoint name="GlobalCollection.eCollect.Server.Services.ServiceContracts.IQueueManager" address="http://timon:8080/Ecollect.Net.Services.QueueManager" binding="customBinding" contract="GlobalCollection.eCollect.Server.Services.ServiceContracts.IQueueManager" bindingConfiguration="CustomBinding_binaryConfig" behaviorConfiguration="clientBehavior">
        <identity>
          <dns value="nemo" />
        </identity>
      </endpoint>

    </client>

    <bindings>
      <customBinding>

        <binding name="CustomBinding_binaryConfig" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" maxSessionSize="2048">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="65536" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>

      <binding>
        <binaryMessageEncoding />
        <httpTransport maxReceivedMessageSize="2147483647" />
      </binding>

    </customBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="2000" />
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="clientBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>  
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
